body{
  overflow: hidden;
}


label {
  display: block;
  margin-top: 10px;
}

div {
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #ffffff;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Citations */

.citationlistitem{
  width: 96px;
  height: 30px;
  margin: 2px 0px 2px 0px;
  padding: 2px 0px 2px 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.contentbox{
  max-width: 100%;
  min-height: 50%;
}

.someMargin{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  height: 30px;
  width: 100px;
  font-size: 1.1em;
}

.topMargin{
  margin-top: 5px;

}

.inlineBlock{
  display: inline-block
}


.black{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 1080px;
    height: 1920px;
    background-color:black
}
.background{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 1080px;
    height: 1920px;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/I2_Mensch_Screendesign_3_Full_HD.png');
    overflow: hidden;
}

.onscreenTypewriterLower{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/KeyboardLower.png');
}

.onscreenTypewriterUpper{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/KeyboardUpper.png');
}
.overlayTypewriter{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/KeyboardTextArea.png');
}

.citationButton{
  position: absolute;
  top: 1590px;
  left: 60px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/Button_Kleiner.png');
  border: 0px solid rgb(250, 250, 250);
}

.enterButton{
  position: absolute;
  top: 250px;
  left: 800px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/Button_Kleiner.png');
  border: 0px solid rgb(250, 250, 250);
}

.citationDisplay {
  position: absolute;
  top: 572px;
  left: 90px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 910px;
  height: 910px;
  resize: none;
  padding: .1rem;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: bold;
  src: local('DroidSans'), url('./media/fonts/DroidSans-Bold.ttf');
  font-size: 5.3rem;
  line-height: 85px;
  color: rgb(254, 247, 237);
  outline: none;
  border: 0px solid rgb(254, 247, 237);
  border-radius: 0.4rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.keyboard {
  position: absolute;
  top: 1410px;
  left: 25px;
  display: grid;
  place-items: center;
  min-height: 80px;
  min-width: 1050px;
  flex-direction: column;
  align-items: center;
}
.keys {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 5px 7px;
  font-size: 3rem;
  color: transparent;
  width: 71px;
  height: 70px;
}
.delete {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 4px 4px;
  font-size: 1rem;
  color: transparent;
  width: 163px;
  height: 70px;
}

.shift{
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 4px 4px;
  font-size: 1rem;
  color: transparent;
  width: 163px;
  height: 70px;
}
.space {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 4px 4px;
  font-size: 1rem;
  color: transparent;
  width: 460px;
  height: 75px;
  font-size: 1rem;
  text-transform: capitalize;
}

.inputText {
  position: absolute;
  top: 1125px;
  left: 90px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 910px;
  height: 193px;
  resize: none;
  padding: .5rem;
  font-size: 2rem;
  outline: none;
  border: 0px solid rgb(254, 247, 237);
  border-radius: 0.4rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.shiftButton{
  position: absolute;
  top: 1590px;
  left: 60px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/Button_Kleiner.png');
  border: 0px solid rgb(250, 250, 250);
}

.scroll{ 
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Citations Orange */

.citationlistitem{
  width: 96px;
  height: 30px;
  margin: 2px 0px 2px 0px;
  padding: 2px 0px 2px 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.contentbox{
  max-width: 100%;
  min-height: 50%;
}

.someMargin{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  height: 30px;
  width: 100px;
  font-size: 1.1em;
}

.topMargin{
  margin-top: 5px;

}

.inlineBlock{
  display: inline-block
}


.black{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:black
}
.backgroundOrange{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 1080px;
    height: 1920px;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/I2_Mensch_Screendesign_4_Full_HD.png');
}

.onscreenTypewriterLower{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/KeyboardLower.png');
}

.onscreenTypewriterUpper{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/KeyboardUpper.png');
}
.overlayTypewriter{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/KeyboardTextArea.png');
}

.citationButtonOrange{
  position: absolute;
  top: 1590px;
  left: 150px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/Button_Kleiner.png');
  border: 0px solid rgb(250, 250, 250);
}

.enterButton{
  position: absolute;
  top: 250px;
  left: 800px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/Button_Kleiner.png');
  border: 0px solid rgb(250, 250, 250);
}

.charsleft {
    position: absolute;
    top: 1320px;
    left: 850px;
    text-align: right;
    color: rgb(254, 247, 237);
    background-color: transparent;
}

.charsleftBubbles {
  position: absolute;
  top: 600px;
  left: 1520px;
  text-align: right;
  color: rgb(0, 0, 0);
  background-color: transparent;
}



.citationDisplayOrange {
  position: absolute;
  top: 572px;
  left: 150px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 910px;
  height: 910px;
  resize: none;
  padding: .1rem;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: bold;
  src: local('DroidSans'), url('./media/fonts/DroidSans-Bold.ttf');
  font-size: 5.3rem;
  line-height: 85px;
  color: rgb(254, 247, 237);
  outline: none;
  border: 0px solid rgb(254, 247, 237);
  border-radius: 0.4rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.keyboard {
  position: absolute;
  top: 1410px;
  left: 25px;
  display: grid;
  place-items: center;
  min-height: 80px;
  min-width: 1050px;
  flex-direction: column;
  align-items: center;
}
.keys {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 5px 7px;
  font-size: 3rem;
  color: transparent;
  width: 71px;
  height: 70px;
}
.delete {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 4px 4px;
  font-size: 1rem;
  color: transparent;
  width: 163px;
  height: 70px;
}

.shift{
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 4px 4px;
  font-size: 1rem;
  color: transparent;
  width: 163px;
  height: 70px;
}
.space {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 4px 4px;
  font-size: 1rem;
  color: transparent;
  width: 460px;
  height: 75px;
  font-size: 1rem;
  text-transform: capitalize;
}

.inputText {
  position: absolute;
  top: 1125px;
  left: 90px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 910px;
  height: 193px;
  resize: none;
  padding: .5rem;
  font-size: 2rem;
  outline: none;
  border: 0px solid rgb(254, 247, 237);
  border-radius: 0.4rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.shiftButton{
  position: absolute;
  top: 1590px;
  left: 60px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/Button_Kleiner.png');
  border: 0px solid rgb(250, 250, 250);
}

.scroll{ 
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}


/* Bubbles */

.backgroundBubbles{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-color: white;
}



.ableismusButton{
  position: absolute;
  top: 100px;
  left: 80px;
  width: 400px;
  height: 340px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('./media/images/Ableismus.png');
  border: 0px solid rgb(250, 250, 250);
  -webkit-animation: 4s steps(12) infinite;
  animation: 4s steps(12) infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
.demokratiefeindlichButton{
  position: absolute;
  top: 500px;
  left: 90px;
  width: 400px;
  height: 340px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('./media/images/Demokratiefeindlich.png');
  border: 0px solid rgb(250, 250, 250);
  -webkit-animation: 4s steps(12) infinite;
  animation: 4s steps(12) infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
.diskriminierungButton{
  position: absolute;
  top: 590px;
  left: 500px;
  width: 400px;
  height: 285px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('./media/images/Diskriminierung.png');
  border: 0px solid rgb(250, 250, 250);
  -webkit-animation: 4s steps(12) infinite;
  animation: 4s steps(12) infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
.hassImNetzButton{
  position: absolute;
  top: 540px;
  left: 1450px;
  width: 400px;
  height: 310px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('./media/images/HassImNetz.png');
  border: 0px solid rgb(250, 250, 250);
  -webkit-animation: 4s steps(12) infinite;
  animation: 4s steps(12) infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
.queerfeindlichButton{
  position: absolute;
  top:330px;
  left: 1310px;
  width: 400px;
  height: 280px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('./media/images/Queerfeindlich.png');
  border: 0px solid rgb(250, 250, 250);
  -webkit-animation: 4s steps(12) infinite;
  animation: 4s steps(12) infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}

.radikalisierungButton{
  position: absolute;
  top:260px;
  left: 490px;
  width: 400px;
  height: 340px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('./media/images/Radikalisierung.png');
  border: 0px solid rgb(250, 250, 250);
  -webkit-animation: 4s steps(12) infinite;
  animation: 4s steps(12) infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
.rechteGewaltButton{
  position: absolute;
  top: 400px;
  left: 880px;
  width: 400px;
  height: 310px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('./media/images/RechteGewalt.png');
  border: 0px solid rgb(250, 250, 250);
  -webkit-animation: 4s steps(12) infinite;
  animation: 4s steps(12) infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
.sexismusButton{
  position: absolute;
  top: 110px;
  left: 910px;
  width: 400px;
  height: 300px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('./media/images/Sexismus.png');
  border: 0px solid rgb(250, 250, 250);
  -webkit-animation: 4s steps(12) infinite;
  animation: 4s steps(12) infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
.sozialeAusgrenzungButton{
  position: absolute;
  top: 710px;
  left: 970px;
  width: 400px;
  height: 280px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('./media/images/SozialeAusgrenzung.png');
  border: 0px solid rgb(250, 250, 250);
  -webkit-animation: 4s steps(12) infinite;
  animation: 4s steps(12) infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}

.enterButton{
  position: absolute;
  top: 250px;
  left: 800px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/Button_Kleiner.png');
  background-repeat: no-repeat;
  border: 0px solid rgb(250, 250, 250);
}


.explanationDisplay {
  position: absolute;
  top: 100px;
  left: 80px;
  display: flex;
  justify-content: center;
  width: 1765px;
  height: 870px;
  resize: none;
  padding: .5rem;
  outline: none;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 0.0rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.tag {
  position: absolute;
  top: 10px;
  left: 0px;
  filter: invert(100%) contrast(1.75);
}

.explanation {
  position: absolute;
  top: 200px;
  left: 10px;
  display: flex;
  justify-content: left;
  padding: 1rem;
  font-size: 2.7rem;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: bold;
  src: local('DroidSans'), url('./media/fonts/DroidSans-Bold.ttf');
  line-height: 40px;
  color: rgb(254, 247, 237);
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.controlButtons {
  position: absolute;
  top: 200px;
  left: 10px;
  display: flex;
  justify-content: left;
  padding: 1rem;
}

.closeButton{
  position: absolute;
  top: 4px;
  left: 1700px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/CloseButton.png');
  background-repeat: no-repeat;
  border: 0px solid rgb(250, 250, 250);
}

.printButton{
  position: absolute;
  top: 850px;
  left: 1230px;
  width: 500px;
  height: 330px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/PrintButton.png');
  background-repeat: no-repeat;
  border: 0px solid rgb(250, 250, 250);
}

.tipButton{
  position: absolute;
  top: 830px;
  left: 1560px;
  width: 500px;
  height: 330px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/TipButton.png');
  background-repeat: no-repeat;
  border: 0px solid rgb(250, 250, 250);
}

.tipTypewriterLower{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/TipKeyboardLowerQuer.png');
}

.tipTypewriterUpper{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/TipKeyboardUpperQuer.png');
}
.overlayTipTypewriter{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-image: url('./media/images/TipBoxQuer.png');
}

.sendButton{
  position: absolute;
  top: 180px;
  left: 1020px;
  width: 300px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/SendenButton.png');
  background-repeat: no-repeat;
  border: 0px solid rgb(250, 250, 250);
}

.ABLEISMUS {
background-color: rgb(166, 204, 198);
}

.DEMOKRATIEFEINDLICH {
  background-color: rgb(93, 88, 146);
}

.DISKRIMINIERUNG {
  background-color: rgb(251, 190, 93);
}

.HASSIMNETZ {
  background-color: rgb(82, 136, 198);
}

.QUEERFEINDLICH {
background-color: rgb(238, 115, 48);
}

.RADIKALISIERUNG {
  background-color: rgb(82, 136, 198);
}

.RECHTEGEWALT {
  background-color: rgb(96, 190, 175);
}

.SEXISMUS {
  background-color: rgb(234, 80, 83);
}

.SOZIALEAUSGRENZUNG {
  background-color: rgb(54, 162, 43);
}


.keyboardBubbles {
  position: absolute;
  top: 640px;
  left: 443px;
  display: grid;
  place-items: center;
  min-height: 80px;
  min-width: 1050px;
  flex-direction: column;
  align-items: center;
}
.keysBubbles {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 7px 10px;
  font-size: 3rem;
  color: transparent;
  width: 51px;
  height: 50px;
}
.deleteBubbles {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 7px 9px;
  font-size: 3rem;
  color: transparent;
  width: 123px;
  height: 50px;
}

.shiftBubbles{
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 7px 9px;
  font-size: 3rem;
  color: transparent;
  width: 123px;
  height: 50px;
}
.spaceBubbles {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 9px 9px;
  font-size: 1rem;
  color: transparent;
  width: 460px;
  height: 60px;
  font-size: 1rem;
  text-transform: capitalize;
}

.textareaBubbles {
  position: absolute;
  top: 325px;
  left: 70px;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 910px;
  height: 1193px;
  resize: none;
  padding: .5rem;
  font-size: 2rem;
  outline: none;
  border: 5px solid rgb(221, 70, 0);
  border-radius: 0.4rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.textareaTypewriterBubbles {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 735px;
  height: 340px;
  resize: none;
  padding: .5rem;
  font-size: 2rem;
  outline: none;
  border: 0px solid rgb(221, 70, 0);
  border-radius: 0.4rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.inputTextBubbles {
  position: absolute;
  top: 310px;
  left: 260px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 1400px;
  height: 380px;
  resize: none;
  padding: .5rem;
  font-size: 2rem;
  outline: none;
  border: 0px solid rgb(254, 247, 237);
  border-radius: 0.4rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.closeButtonGrey{
  position: absolute;
  top: 110px;
  left: 1650px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/CloseButtonGrau.png');
  background-repeat: no-repeat;
  border: 0px solid rgb(250, 250, 250);
}

.shiftButtonBubbles{
  position: absolute;
  top: 1590px;
  left: 60px;
  width: 200px;
  height: 230px;
  outline: none;
  background-color: transparent;
  background-image: url('./media/images/Button_Kleiner.png');
  border: 0px solid rgb(250, 250, 250);
}

/* Knowledge */

.backgroundKnowledge{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background-color: lightgrey;
}

.knowledgeDisplay {
  position: absolute;
  top: 50px;
  left: -400px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 2620px;
  height: 1080x;
  resize: none;
  padding: 1rem;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: bold;
  src: local('DroidSans'), url('./media/fonts/DroidSans-Bold.ttf');
  color: rgb(254, 247, 237);
  outline: none;
  border: 0px solid rgb(254, 247, 237);
  border-radius: 0.4rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */

}

.sub{
  font-size: 6rem;
  letter-spacing: 0.05em;
  line-height: 70px;

}


@keyframes swingLines0 { 
  0%   {left:-300px;}
  50%  {left:300px;}
  100% {left:-300px;}
}
.line0{
  position: relative;
  animation-name: swingLines0;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}

@keyframes swingLines1 { 
  0%   {left:-300px;}
  50%  {left:300px;}
  100% {left:-300px;}
}
.line1{
  position: relative;
  animation-name: swingLines1;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}

@keyframes swingLines2 { 
  0%   {left:-300px;}
  50%  {left:300px;}
  100% {left:-300px;}
}
.line2{
  position: relative;
  animation-name: swingLines1;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}

@keyframes swingLines3 { 
  0%   {left:100px;}
  50%  {left:-100px;}
  100% {left:100px;}
}
.line3{
  position: relative;
  animation-name: swingLines3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes swingLines4 { 
  0%   {left:100px;}
  50%  {left:-100px;}
  100% {left:100px;}
}
.line4{
  position: relative;
  animation-name: swingLines4;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes swingLines5 { 
  0%   {left:-100px;}
  50%  {left:100px;}
  100% {left:-100px;}
}
.line5{
  position: relative;
  animation-name: swingLines5;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes swingLines6 { 
  0%   {left:650px;}
  50%  {left:-150px;}
  100% {left:650px;}
}
.line6{
  position: relative;
  animation-name: swingLines6;
  animation-duration: 38s;
  animation-iteration-count: infinite;
}

@keyframes swingLines7 { 
  0%   {left:650px;}
  50%  {left:-150px;}
  100% {left:650px;}
}
.line7{
  position: relative;
  animation-name: swingLines7;
  animation-duration: 38s;
  animation-iteration-count: infinite;
}

@keyframes swingLines8 { 
  0%   {left:-100px;}
  50%  {left:100px;}
  100% {left:-100px;}
}
.line8{
  position: relative;
  animation-name: swingLines8;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes swingLines9 { 
  0%   {left:-100px;}
  50%  {left:100px;}
  100% {left:-100px;}
}
.line9{
  position: relative;
  animation-name: swingLines9;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes swingLines10 { 
  0%   {left:650px;}
  50%  {left:-350px;}
  100% {left:650px;}
}
.line10{
  position: relative;
  animation-name: swingLines10;
  animation-duration: 58s;
  animation-iteration-count: infinite;
}

@keyframes swingLines11 { 
  0%   {left:650px;}
  50%  {left:-350px;}
  100% {left:650px;}
}
.line11{
  position: relative;
  animation-name: swingLines11;
  animation-duration: 58s;
  animation-iteration-count: infinite;
}

@keyframes swingLines12 { 
  0%   {left:-300px;}
  50%  {left:300px;}
  100% {left:-300px;}
}
.line12{
  position: relative;
  animation-name: swingLines12;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes swingLines13 { 
  0%   {left:-300px;}
  50%  {left:300px;}
  100% {left:-300px;}
}
.line13{
  position: relative;
  animation-name: swingLines13;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes swingLines14 { 
  0%   {left:300px;}
  50%  {left:-300px;}
  100% {left:300px;}
}
.line14{
  position: relative;
  animation-name: swingLines14;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

@keyframes swingLines15 { 
  0%   {left:250px;}
  50%  {left:-250px;}
  100% {left:250px;}
}
.line15{
  position: relative;
  animation-name: swingLines15;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes swingLines16 { 
  0%   {left:250px;}
  50%  {left:-250px;}
  100% {left:250px;}
}
.line16{
  position: relative;
  animation-name: swingLines16;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes swingLines17 { 
  0%   {left:100px;}
  50%  {left:-100px;}
  100% {left:100px;}
}
.line17{
  position: relative;
  animation-name: swingLines17;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes swingLines18 { 
  0%   {left:100px;}
  50%  {left:-100px;}
  100% {left:100px;}
}
.line18{
  position: relative;
  animation-name: swingLines18;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes swingLines19 { 
  0%   {left:300px;}
  50%  {left:-300px;}
  100% {left:300px;}
}
.line19{
  position: relative;
  animation-name: swingLines19;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

.explanationKnowledgeDisplay {
  position: absolute;
  top: 100px;
  left: 80px;
  display: flex;
  justify-content: center;
  width: 1765px;
  height: 870px;
  resize: none;
  padding: .5rem;
  outline: none;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 0.0rem;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.knowledgeHeadline {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: bold;
  src: local('DroidSans'), url('./media/fonts/DroidSans-Bold.ttf');
  font-size: 5.3rem;
  line-height: 60px;
}

.explanationKnowledge {
  position: absolute;
  top: 200px;
  left: 10px;
  display: flex;
  justify-content: left;
  padding: 1rem;
  font-size: 2.7rem;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: bold;
  src: local('DroidSans'), url('./media/fonts/DroidSans-Bold.ttf');
  line-height: 40px;
  color: rgb(0, 0, 0);
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
  
#menu > li.sub ul {
  list-style: none;
  position: absolute;
  top: -1000em;
  left: 0px;
}


#menu li.sub ul li a {
  display: inline;
}

#menu > li.sub:hover ul {
  top: 3em;
}

#menu{
  text-align:left;
}

li{
  display:inline-block;
}


.items {
  text-align: center;
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
}

.blackItems{
  color: black;
  
}

.whiteItems{
  color: rgb(147, 146, 146);
  
}


@-webkit-keyframes swing { 
  20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: center; } 
  20% { -webkit-transform: rotate(3deg); } 
  40% { -webkit-transform: rotate(-1deg); } 
  60% { -webkit-transform: rotate(0deg); } 
  80% { -webkit-transform: rotate(-2deg); } 
  100% { -webkit-transform: rotate(0deg); } 
}

@keyframes swing { 
  20% { transform: rotate(3deg); } 
  40% { transform: rotate(-1deg); } 
  60% { transform: rotate(0deg); } 
  80% { transform: rotate(-2deg); } 
  100% { transform: rotate(0deg); } 
}

.swing { 
  -webkit-transform-origin: center; 
  transform-origin: center; 
  -webkit-animation-name: swing; 
  animation-name: swing; 
}